.styled-section {
    /* background-color: blue; */
    min-height: 100vh;
    height: 100%;
    width: 50vw;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    overflow: hidden;
}

.grid-child {
    /* background-color: pink; */
    height: 100vh;
}

.bottle-icon {
    background-color: orangered;
    height: 100px;
    width: 45px;
    border-radius: 10px;
    margin: 1rem;
}

.item-1 {
    /* background-color: white; */
    height: 150px;
}

.visible-con {
    background-color: purple;
    border-radius: 0px 0px 70px 0px;
}

.item-2 {

    background-color: purple;
    margin: 1rem 0;

}

.item-2-child-1 {
    height: 350px;
    border-radius: 70px 0px 70px 0px;
}

.item-2-child-2 {
    height: 250px;
    border-radius: 70px 0px 0px 0px;
}

.item-2-circle {
    height: 150px;
    border-radius: 100%;
    border: 10px solid white;
    margin-top: -5.6rem;
    background-color: yellow;
}

.item-3 {
    height: 150px;
    border-radius: 70px 0px 0px 0px;
    background-color: purple;
}

@media (max-width:700px) {
    .styled-section {
        display: none;
    }
}