
#advert-picDiv {
  flex-basis: 40%;
  position: relative;
  border: 1px solid black;
}

#advert-pic {
  width: 100%;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-left: -20px;
}